<h1><%= @pet.name %></h1>
<p><%= @pet.species %></p>
<p>Found on: <%= @pet.found_on %></p>

<%= link_to 'Edit pet', pets_edit_path(@pet) %>
<%= link_to 'Delete pet', pet_path(@pet), method: :delete, data: { confirm: 'Are you sure?' } %>
